/* src/components/Upload.css */

.upload-page {
    background-image: url('https://images.unsplash.com/photo-1489769002049-ccd828976a6c?q=80&w=1961&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    /* Add your background image URL here */
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: rgb(10, 6, 6);
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    /* Transparent navbar */
}

.card {
    background-color: rgba(0, 0, 0, 0.7);
    /* Transparent card */
}

.upload-section label {
    color: rgb(16, 4, 4);
}

button {
    background-color: #4CAF50;
    color: rgb(17, 10, 10);
}